@import "tailwindcss";
@tailwind utilities;

@layer utilities {
  .glow-text {
    color: #fff;
    text-shadow: 0 0 10px #fff; /* x, y, blur, color */
  }

  .section-top {
    @apply mt-20;
  }

  .glow-subtitle {
    color: #fff;
    text-shadow: 0 0 5px #fff; /* x, y, blur, color */
  }

  .cta-button {
    @apply px-8 py-2 rounded-lg flex items-center justify-center font-bold  text-lg md:text-xl transition-all duration-300 hover:scale-105 text-center w-full max-w-sm mx-auto;
  }

  .animate-thing {
    @apply transition-all duration-300 hover:scale-105;
  }

  .card-title {
    @apply text-xl font-bold text-center cursor-default hover:cursor-default;
  }

  .card-subtitle {
    @apply text-gray-300 text-center cursor-default hover:cursor-default leading-loose;
  }

  .card-number {
    @apply text-7xl font-bold;
  }

  .gray-back {
    @apply bg-white/5 backdrop-blur-md hover:bg-white/10;
  }

  .main-comp {
    @apply mx-4 mt-6 lg:mt-4 lg:mx-4;
  }

  .footer-h3 {
    @apply text-white text-3xl font-semibold;
  }

  .footer-list {
    @apply text-gray-400;
  }

  .item {
    @apply text-sm transition-all duration-300 hover:scale-105 hover:text-gray-100;
  }

  .footer-item {
    @apply flex flex-col items-center gap-6 mb-10 lg:mb-0;
  }

  .hero-prop {
    @apply mt-30 flex flex-col gap-8;
  }

  .hero-sub {
    @apply mt-20 text-center text-3xl lg:text-5xl font-bold bg-gradient-to-b from-white to-gray-600 bg-clip-text text-transparent leading-tight pb-2;
  }
}

:root {
  --background: #000000;
  --foreground: #ffffff;

  --color-primary: #ffffff;
  --color-secondary: rgb(153, 161, 175);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--color-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;

    --color-primary: #ffffff;
    --color-secondary: rgb(153, 161, 175);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
