@import "tailwindcss";
@tailwind utilities;

@layer utilities {
  .glow-text {
    color: #fff;
    text-shadow: 0 0 10px #fff; /* x, y, blur, color */
  }

  .glow-subtitle {
    color: #fff;
    text-shadow: 0 0 5px #fff; /* x, y, blur, color */
  }

  .cta-button {
    @apply px-8 py-2 rounded-lg items-center font-bold flex text-lg md:text-xl transition-all duration-300 hover:scale-103;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
